@using EnrollmentWorkflow.Models
@using Kendo.Mvc.UI
@model WorkItemModel

<div style="margin-top: 10px">
    @{ 
        var gridName = "workItemGrid" + (string)@ViewBag.RequestedFor;
        @ViewBag.DataCount = @ViewBag.DataCount ?? 0;
     }

    @(Html.Kendo().Grid<WorkItemModel>().Name(gridName)
            .DataSource(x => x
                .Ajax()
                .PageSize(25)
                .Model(model =>
                {
                    model.Id(w => w.Id);
                    model.Field(w => w.SiteId).Editable(false);
                    model.Field(w => w.GoLiveDate).Editable(false);
                    model.Field(w => w.DaysToImplement).Editable(false);
                    if (ViewBag.IsAdmin == false)
                    {
                        model.Field(w => w.EnrollmentRep).Editable(false);
                    }
                })
                .Read(readAction => readAction.Action("LoadSites", "Reports", new { requestedFor = @ViewBag.RequestedFor, dataCount = @ViewBag.DataCount })))
          .Columns(columns =>
          {
              columns.Bound(col => col.Id).Hidden(true);
              columns.Bound(col => col.SiteId).Title("Site Id").Width(75);
              columns.Bound(col => col.Vendor).Title("Vendor").Width(150);
              columns.Bound(col => col.OfficeName).Title("Office");
              columns.Bound(col => col.ContractDate).Title("Contract Date").Format("{0:MM/dd/yyyy}");
              columns.Bound(col => col.GoLiveDate).Title("Go Live").Format("{0:MM/dd/yyyy}");
              columns.Bound(col => col.LastContacted).Title("Last Contacted").Format("{0:MM/dd/yyyy}");
              columns.Bound(col => col.Status).Title("Status").Width(200);

              if (ViewBag.IsAdmin == true)
                  columns.Bound(col => col.EnrollmentRep).EditorTemplateName("RepDropDown");
          })
          .Sortable()
          .Scrollable(s => s.Height("auto"))
          .Pageable(pg => pg
              .Refresh(true)
              .PageSizes(new[] { 25, 50, 100 })
              .ButtonCount(5))
    )

</div>
