@using EnrollmentWorkflow.Models
@using Kendo.Mvc.UI;
@using EnrollmentWorkflow.Helpers
@using EnrollmentWorkflow.Enums

@model WorkItemModel

<div class="container-fluid">
    
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            Client Information

            <div class="float-right">
                <button class='btn btn-primary' style="margin-right:10px;"  type='button' id="btnSendWelcomeEmail_@Model.Id" onclick='saveAdditionalInformation(this);'>Send Welcome Email</button>
                       Last Sent: <span id="emailLastSent_@Model.Id" style="width:150px;">@Model.WelcomeEmailLastSent </span>
            </div>
            <div class="clear-left clear-right"></div>
        </div>
        <div class="panel-body">
                <div class="panel panel-primary edit-container">
                    <div class="panel-heading" data-toggle="collapse" data-target="#generalInfoBody_@Model.Id">
                        <div class="float-left" name="indicator" style="margin-right:10px;">▼</div>
                        <div class="float-left">
                            General Information
                        </div>
                        <div class="float-right">
                            <button class='btn btn-primary editBtn' type='button'>Edit</button>
                            <button class='btn btn-success saveBtn' type='button' disabled="disabled" onclick='saveGeneralInformation(this);'>Save</button>
                            <button class='btn btn-danger cancelBtn' type='button' disabled="disabled">Cancel</button>
                        </div>
                        <div class="clear-left clear-right"></div>
                    </div>
                    <div class="panel-body collapse in" id="generalInfoBody_@Model.Id">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "generalInfoForm_" + @Model.Id, @class = "form-horizontal" }))
                    {
                        <input type="hidden" value="@{@Model.Id}" name="workItemId"/>

                        <div class="form-group">

                            @Html.LabelFor(x => x.SiteId, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.SiteId, new { @class = "form-control", @disabled = "disabled" })
                            </div>

                            @Html.LabelFor(x => x.OfficeName, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.OfficeName, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                            
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(x => x.Vendor, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.Vendor, new { @class = "form-control", @disabled = "disabled" })
                            </div>

                            @Html.LabelFor(x => x.InstallType, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.InstallType, new { @class = "form-control", @disabled = "disabled" })
                            </div>

                            @Html.LabelFor(x => x.Status, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @(Html.Kendo().DropDownListFor(x => x.Status)
                                .BindTo(
                                    SelectListHelper.ToSelectList<WorkItemStatus>(" ")
                                ).Name("status").Enable(false)
                                .HtmlAttributes(new {@id = "status_" + @Model.Id }))
                            </div>

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.DocCount, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.DocCount, new { @class = "form-control", @disabled = "disabled" })
                            </div>

                            @Html.LabelFor(x => x.ecwProjectManager, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.ecwProjectManager, new { @class = "form-control editable", @readonly = "readonly" })
                            </div>

                            @Html.LabelFor(x => x.EnrollmentRep, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @*@Html.TextBoxFor(x => x.EnrollmentRep, new { @class = "form-control editable", @readonly = "readonly" })*@

                                @(Html.Kendo().DropDownListFor(x => x.EnrollmentRep)
                                     .Name("EnrollmentRep")
                                     .DataTextField("Text")
                                     .DataValueField("Value")
                                     .BindTo(new SelectList((IEnumerable<SelectListItem>)ViewBag.GroupMembers, "Value", "Text"))
                                     .HtmlAttributes(new { @id = "EnrollmentRep_" + @Model.Id,  @class = "form-control editable", @disabled = "disabled" })
                                )
                            </div>

                            @*@Html.LabelFor(x => x.Location, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.Location, new { @class = "form-control", @disabled = "disabled" })
                            </div>*@

                            @*@Html.LabelFor(x => x.ClientType, new { @class = "col-sm-1 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.ClientType, new { @class = "form-control", @disabled = "disabled" })
                            </div>*@
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.ecwGroup, new { @class = "col-sm-6 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.ecwGroup, new { @class = "form-control editable", @readonly = "readonly" })
                            </div>

                            @*@Html.LabelFor(x => x.TestingRep, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.TestingRep, new { @class = "form-control editable", @readonly = "readonly" })*@

                                @*@(Html.Kendo().DropDownListFor(x => x.TestingRep)
                                     .Name("TestingRep")
                                     .DataTextField("Text")
                                     .DataValueField("Value")
                                     .BindTo(new SelectList((IEnumerable<SelectListItem>)ViewBag.GroupMembers, "Value", "Text"))
                                    .HtmlAttributes(new { @id = "TestingRep_" + @Model.Id, @class = "form-control editable", @disabled = "disabled" })
                                )
                            </div>*@
                        </div>
                    }
                    </div>
                </div>
                <div class="panel panel-primary edit-container">
                    <div class="panel-heading" data-toggle="collapse" data-target="#dateInfoBody_@Model.Id">
                        <div class="float-left" name="indicator" style="margin-right:10px;">▼</div>
                        <div class="float-left">
                            Date Information
                        </div>
                        <div class="float-right">
                            <button class='btn btn-primary editBtn' type='button'>Edit</button>
                            <button class='btn btn-success saveBtn' type='button' disabled="disabled" onclick='saveDateInformation(this);'>Save</button>
                            <button class='btn btn-danger cancelBtn' type='button' disabled="disabled">Cancel</button>
                        </div>
                        <div class="clear-left clear-right"></div>
                    </div>
                    <div class="panel-body collapse in" id="dateInfoBody_@Model.Id">
                        @Html.Partial("_DateInfo", Model)
                    
                    </div>
                </div>
                <div class="panel panel-primary edit-container">
                    <div class="panel-heading" data-toggle="collapse" data-target="#additionalInfoBody_@Model.Id">
                        <div name="indicator" class="float-left clear-left" style="margin-right:10px;">▼</div>
                        <div class="float-left">
                            Additional Information
                        </div>
                        <div class="float-right">
                            <button class='btn btn-primary editBtn' type='button'>Edit</button>
                            <button class='btn btn-success saveBtn' type='button' disabled="disabled" onclick='saveAdditionalInformation(this);'>Save</button>
                            <button class='btn btn-danger cancelBtn' type='button' disabled="disabled">Cancel</button>
                        </div>
                        <div class="clear-left clear-right"></div>
                    </div>
                    <div class="panel-body collapse in" id="additionalInfoBody_@Model.Id">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "additionalInfoForm_" + @Model.Id, @class = "form-horizontal" }))
                    {
                        <input type="hidden" value="@{@Model.Id}" name="workItemId" />

                        <div class="form-group">
                            @Html.LabelFor(x => x.Notes, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextAreaFor(x => x.Notes, new { @style = "width:500px; height:150px;", @class = "form-control editable", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(x => x.Created, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.Created, new { @class = "form-control", @disabled = "disabled" })
                            </div>

                            @Html.LabelFor(x => x.Modified, new { @class = "col-sm-1 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.Modified, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.ModifiedBy, new { @class = "col-sm-5 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(x => x.ModifiedBy, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="form-group">



                            </div>
                    }
                    </div>
                </div>
        </div>
    </div>
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            Enrollment Details
        </div>
        <div class="panel-body">
             
            @Html.DisplayFor(x => x.EnrollmentDetails)

        </div>
    </div>

    <div id="messageArea">
    </div>
    <button id="btnSaveWorkItem_@Model.Id" class="btn btn-primary" style="margin-bottom:20px;" type="button">Approve Work Item for @Model.SiteId</button>
    <img src="/EnrollmentWorkflow/Content/loading.gif" id="loading" style="display: none; vertical-align: top" />
</div>

<script type="text/javascript">
    $("#btnSaveWorkItem_@Model.Id").on("click", function () {
        var loading = $('#loading');
        loading.show();
        $.post("/EnrollmentWorkflow/WorkItem/Approve", { siteId: "@Model.SiteId" }, function (data) {
            var message = data.message;
            if(message === 'Approved'){
                $('#messageArea').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>Approved</span></div>');
            }
            else {
                $('#messageArea').append('<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>');
            }
            loading.hide();
        });
    });

    $("#btnSendWelcomeEmail_@Model.Id").on("click", function () {
        
        $.post("/EnrollmentWorkflow/WorkItem/SendWelcomeEmail", { siteId: "@Model.SiteId" }).success(function (data) {
            $('#emailLastSent_@Model.Id').text(data.lastSent);
        });
    });
</script>
